.placeholder-upper::placeholder {
    text-transform: uppercase !important;
}

@media (min-width: 576px) {
    .card-body {
        padding: 2em !important;
    }
}

@media (max-width: 576px) {
    .btn {
        margin-top: 0.3em;
    }
}

#teste{
    background: #be6007
}