body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(31, 159, 182);
  margin: 0%;
}

header{
  background-color: rgb(24, 62, 121);
  width: 100%;
  color: #fff;
  margin: 0;
  top: 0;
  display: flex;
  justify-content: center;
}

.container{
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}


.side{
  background-color: rgb(31, 159, 182);
  flex-direction: column;
  margin: 0;
  height: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 7px;
}

a{
  display: flex;
  text-decoration: none;
  color: #fff;
}

li{
  display: flex;
  background-color: rgb(31, 159, 182);
  width: 100%;
  margin: 0;
  margin-left: 1px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 7px;

}

li:hover{
  background-color: rgb(23, 115, 131);
}

.frames{
  position: absolute;
  display: flex;
  background-color: rgb(0, 247, 255);
  width: 85%;
  left: 15%;
  height: 700px;
}

iframe{
  width: 50%;
}

#container-content{
  display: flex;
  background-color: #fff;
  width: 100%;
  flex-direction: column;
}

.label{
  display: flex;
  background-color: rgb(162, 207, 233);
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 4px;
}

.attribute{
  font-weight: bold;
  font-family: ubuntu;
}

#showContent{
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 4px;
}

#showContent2{
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 4px;
}

.showContent-content{
  display: flex;
  background-color: rgb(88, 235, 132);
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 4px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}