{% load bootstrap4 %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UFT-8" >
        <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="StylesSheets"  href="{% static 'css/classes.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>Classes</title>
        {% bootstrap_css %}
    </head>
    <body onload="init()" style="background-color: rgb(220, 234, 247);">
        <script>
            function init(){
                let lis = document.getElementsByClassName('classe')
                let tables = document.getElementsByClassName('idtable')
                let count = 0
                let elem 
                let elem2
                for(li in lis){
                    elem = document.getElementsByClassName('classe')[li]
                    elem2 = document.getElementsByClassName('idtable')[count]
                    elem.setAttribute('id',count.toString());
                    elem2.setAttribute('id','t'+count.toString());
                    count += 1
                }

                window.count = count
            }


            window.event = function event(event){
                let elem = document.getElementById('t'+event.id).style.display
                let tables = document.getElementsByClassName('table').length
             
                if(elem === 'block'){//hidden 

                    for(let i=0;i<tables;i++){
                        document.getElementById('t'+i.toString()).style.display = 'none'

                    }
                    document.getElementById('t'+event.id).style.display = 'none'
                }
                else{ //show
  
                    for(let i=0;i<tables;i++){
                        document.getElementById('t'+i.toString()).style.display = 'none'
                    }
                    document.getElementById('t'+event.id).style.display = 'block'
                }
            }

        </script>
        <header style="    
        background-color: rgb(24, 62, 121);
        width: 100%;
        height: 60px;
        color: #fff;
        margin: 0;
        padding-left: 10px;
        padding-top: 12px;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;">
        <div  style="  
            width: 100%;            
            margin: 0;
            top: 25px;
            padding: 0;
            align-items: flex-end;
            display: flex;
            justify-content: center;
            ">
            <h1 style="font-weight: bold;">
                Classes e Alunos
            </h1>
        </div>
        <a href="{% url 'home' %}" style="  
            text-decoration: none;
            color: #fff;
            margin: 0;
            margin-right: 5%;
            top: 25px;
            padding: 0;
            align-items: flex-end;
            ">
            <h2>
                <i class="fa fa fa-home"></i>
            </h2>
        </a>  
    </header>
        <div class="container-fluid" style="background-color:rgb(220, 234, 247);">
            <div style="display: flex;flex-direction: row;">
                <div class="col-sm-2" style="background-color: rgb(31, 159, 182);margin-right: 1%;padding-bottom: 30%;">
                    <ul style="
                        color: white;
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                    ">
                        <li style="font-weight: bold;margin-bottom: 3%;padding-left: 2%;padding-top: 2%;background-color: rgb(25, 175, 38);display: flex;flex-direction: row;justify-content: space-between;">
                            <p>Suas Classes</p>
                            <a href="{% url 'CreateclassTeacher' %}" style="  
                                text-decoration: none;
                                color: #fff;
                                margin: 0;
                                margin-right: 5%;
                                top: 15px;
                                padding: 0;
                                align-items: flex-end;
                                ">
                                <i class="fa fa fa-plus-square"></i>
                            </a>
                        </li>
                        {% for classe in classes %}
                            <li class="classe" onclick="window.event(this)" style="cursor:pointer;border-style: ridge;  border: 2px solid rgb(98, 223, 245); border-radius: 8px;display: flex;justify-content: center;">
                                <p style="margin-top: 2.5%;margin-bottom: 2.5%;">{{classe.name}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col">
                    <ul style="
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                    ">
                        <li style="background-color: rgb(25, 175, 38);color: white;padding: 0;margin: 0;">
                            <div  style="    
                                width: 100%;  
                                color: #fff;
                                margin: 0;
                                top: 0;
                                bottom: 0;
                                display: flex;
                                flex-direction: row;
                                ">
                                <div  style="  
                                    width: 100%;            
                                    margin: 0;
                                    padding: 0;
                                    align-items: flex-end;
                                    display: flex;
                                    justify-content: center;
                                    ">
                                    <h2 style="font-weight: bold;">
                                        Alunos
                                    </h2>
                                </div>
                                <div onclick="document.getElementById('id01').style.display = 'block'" style="  
                                    text-decoration: none;
                                    color: #fff;
                                    margin: 0;
                                    margin-right: 5%;
                                    padding: 0;
                                    align-items: flex-end;
                                    ">
                                    <h2>
                                        <i class="fa fa fa-plus-square"></i>
                                    </h2>
                                </div>
                            </div>      
                            {% bootstrap_messages %}                    
                        </li>
                    </ul>
                    
                    {% for sala in students %}
                        <table class="table idtable"  style="background-color: rgb(174, 238, 238);display: none;">
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                            </tr>
                            {% for student in sala %}
                            <tr>
                                <td>{{student.first_name}} {{student.last_name}}</td>
                                <td>{{student.email}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endfor %}
                </div>
            </div>
            <div id="id01" class="w3-modal">
                <div class="w3-modal-content">
                  <div class="w3-container">
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <form style="display: flex;flex-direction: column;margin: 0;" action="{% url 'classTeacher' %}" method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <label style="margin-bottom: 1%;width: 70%;margin-left: 2%;"  class="form-label">
                        Coloque o email do aluno no campo abaixo. Obs: Ele deve ser cadastrar no Locus X primeiro.
                        </label>
                        <select name="classe" style="margin-bottom: 2%;width: 70%;margin-left: 2%;" id="username-field" class="login-form-field">
                            {% for classe in classes %}
                                <option value={{classe.id}}>{{classe.name}}</option>
                            {% endfor %}
                        </select>
                        <input style="margin-bottom: 5%;width: 70%;margin-left: 2%;" class="form-control"  type="text" name="email" id="email"  placeholder="Email" required>
                        <input class="btn btn-primary" style="width: 20%;margin-left: 2%;margin-bottom: 2%;" type="submit" value="Cadastrar" >
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </body>
    {% bootstrap_javascript jquery='full' %}
</html>