{% load bootstrap4 %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UFT-8" >
        <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="StylesSheets"  href="{% static 'css/classes.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>Criar classe</title>
        {% bootstrap_css %}
    </head>
    <body>
        <header style="    
            background-color: rgb(24, 62, 121);
            width: 100%;
            height: 60px;
            color: #fff;
            margin: 0;
            padding-left: 10px;
            padding-top: 12px;
            top: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;">
            <div  style="  
                width: 100%;            
                margin: 0;
                top: 25px;
                padding: 0;
                align-items: flex-end;
                display: flex;
                justify-content: center;
                ">
                <h1 style="font-weight: bold;">
                    Criar classe
                </h1>
            </div>
            <a href="{% url 'classTeacher' %}" style="  
                text-decoration: none;
                color: #fff;
                margin: 0;
                margin-right: 5%;
                top: 25px;
                padding: 0;
                align-items: flex-end;
                ">
                <h2>
                    <i class="fa fa fa-arrow-circle-o-left"></i>
                </h2>
            </a>  
        </header>
        <div class="container">
            {% bootstrap_messages %}                    
            <form style="display: flex;flex-direction: column;margin: 0;" action="{% url 'CreateclassTeacher' %}" method="POST"  enctype="multipart/form-data">
                {% csrf_token %}
                <label style="margin-bottom: 1%;width: 70%;margin-left: 2%;"  class="form-label">
                    <h2>Disciplina:</h2>
                </label>
                <input style="margin-bottom: 2%;width: 70%;margin-left: 2%;" class="form-control"  type="text" name="programName" id="email"  placeholder="Nome" required>
                <input style="margin-bottom: 5%;width: 70%;margin-left: 2%;" class="form-control"  type="text" name="programDescription" id="email"  placeholder="Descrição" >

                <label style="margin-bottom: 1%;width: 70%;margin-left: 2%;"  class="form-label">
                    <h2>Turma:</h2>
                </label>
                <input style="margin-bottom: 2%;width: 70%;margin-left: 2%;" class="form-control"  type="text" name="className" id="className"  placeholder="Nome da Turma" required>
                <input style="margin-bottom: 5%;width: 70%;margin-left: 2%;" class="form-control"  type="text" name="classDescription" id="classDescription"  placeholder="Descrição da Turma" >
                <input class="btn btn-primary" style="width: 20%;margin-left: 2%;margin-bottom: 2%;" type="submit" value="Criar" >
            </form>
        </div>
    </body>
</html>