{% load static %}
{% load i18n %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Marcelo Augusto dos Reis">

        <title>Locus X</title>

        <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">
        <link rel="Stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
      </head>
    <body>
        {% if user.is_institution_adm %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <header style="display: flex;flex-direction: row;justify-content: space-between;">
          <h1 style="margin-left: 2%;" >Locus X - Adm(a): {{user.first_name}} {{user.last_name}}</h1>
          <h3 style="text-decoration: none;margin-right: 2%;">
            <a style="color: white;" href="{% url 'logout' %}">Sign out</a>
          </h3>
        </header>
        {% elif user.is_teacher %}
            <header style="display: flex;flex-direction: row;">
              <h1>Locus X - Professor(a): {{user.first_name}} {{user.last_name}}</h1>
            </header>
            <div class="container">
              <div class="side" style="width: 17%;">
                <ul>
                  <li style="color: #fff;">
                    <p>{{user.email}} </p>
                  </li>
                  <li style=" 
                    background-color: rgb(182, 51, 51);
                    padding-top: 7px;
                    font-weight: bold;
                    margin-left: 0;
                    ">     
                    <a href="{% url 'logout' %}" >
                      Logout
                      <i style="margin-left: 20%;" class="fa fa fa-sign-out"></i>
                    </a>
                    </li>
                    <li>     
                      <a href="{% url 'location' %}" >
                        <i style="margin-left: 7px;margin-right: 12px;" class="fa fa fa-map-marker"></i>
                        {% trans 'Localização' %}
                      </a>
                  </li>
                  <li>     
                    <a href="{% url 'classTeacher' %}" >
                      <i style="margin-left: 3px;margin-right: 6px;" class="fa fa 	fa fa-mortar-board"></i>
                      {% trans  'Alunos' %}
                    </a>
                  </li>
                  <li>     
                    <a href="{% url 'courseTeacher' %}"  >
                      <i  style="margin-left: 7px;margin-right: 12px;" class="fa fa fa-bookmark"></i>
                      {% trans 'Disciplinas' %}
                    </a>
                  </li>
                  <li>     
                    <a href="{% url 'content' %}">
                      <i  style="margin-left: 7px;margin-right: 6px;" class="fa fa fa-object-group"></i>
                      {% trans 'Conteúdos' %}
                  </li>
                  <li>     
                    <a href="{% url 'question' %}" >
                      <i  style="margin-left: 7px;margin-right: 6px;" class="fa fa fa-plus-square"></i>
                      {% trans 'Criar Questão' %}
                    </a>
                  </li>
                  <li>     
                    <a href="{% url 'task' %}" >
                      <i  style="margin-left: 7px;margin-right: 6px;" class="fa fa fa-plus-square"></i>
                      {% trans 'Tarefa' %}
                    </a>
                  </li>
                  <li>     
                    <a href="{% url 'activityTeacher' %}" >
                      <i  style="margin-left: 7px;margin-right: 6px;" class="fa fa fa-plus-square"></i>
                      {% trans 'Atividades' %}
                    </a>
                  </li>
                  <li>     
                    <a href="{% url 'answerTeacher' %}" >
                      <i  style="margin-left: 7px;margin-right: 6px;" class="fa fa fa-question-circle"></i>
                      {% trans 'Correção' %}
                    </a>
                  </li>
                  <li>     
                    <a href="#" >
                      <i style="margin-left: 3px;margin-right: 6px;" class="fa fa 	fa fa-mortar-board"></i>
                      {% trans 'Tutorial' %}
                    </a>
                  </li>
                </ul>
                <a style="margin-top: 25%" href="https://www.gov.br/cnpq/pt-br" target="blank_">
                  <img style="width: 80%;margin-left: 10%;border-radius: 15px;cursor: pointer;" src="{% static 'images/cnpq.png' %}">
                </a>
                <a href="https://www5.usp.br/" target="blank_">
                  <img style="width: 80%;margin-left: 10%;border-radius: 15px;margin-top: 5%;cursor: pointer;" src="{% static 'images/usp-logo-azul.jpg' %}">
                </a>
                <p style="font-size: 12px;text-align: center;color: #fff;">&copy;	Autor: Marcelo Augusto dos Reis </p>
              </div>
              <div id="container-content">
                <div>
                  <ul style="display: flex;flex-direction: row;width: 100%;margin-bottom: 0.2%;">
                      <li onclick="showlocations()" style="display: flex;justify-content: center;">     
                        <p style="  display: flex;
                        font-weight: bold;
                        color: #fff;
                        cursor: pointer;">
                          <i style="margin-right: 12px;" class="fa fa fa-map-marker"></i>
                          Localizações
                        </p>
                    </li>
                    <li onclick="showAtividade()"  style="display: flex;justify-content: center;">     
                      <p style="  display: flex;
                      font-weight: bold;
                      color: #fff;
                      cursor: pointer;" >
                        <i  style="margin-right: 6px;" class="fa fa fa-plus-square"></i>
                        Atividades
                      </p>
                    </li>
                  </ul>
                </div>
                <div id="showContent" onclick="hiddenLocation()">
                    <table style="background-color: rgb(109, 236, 236);">
                      <tr>
                        <th  style="display: flex;justify-content: center;">Nome</th>
                        <th>Descrição</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                      </tr>
                      {% for location in user.locations %}
                      <tr>
                        <td>{{location.name}}</td>
                        <td>{{location.description}}</td>
                        <td>{{location.latitude}}</td>
                        <td>{{location.longitude}}</td>
                      </tr>
                      {% endfor %}
                    </table>
                </div>
                <div id="showContent2" onclick="hiddenAtividade()">
                  <table style="background-color: rgb(109, 236, 236);">
                    <tr>
                      <th  style="display: flex;justify-content: center;">Titulo</th>
                      <th>Disciplina</th>
                      <th>Turma</th>
                      <th>Data</th>
                    </tr>
                    {% for atividade in user.atividades %}
                    <tr>
                      <td>{{atividade.title}}</td>
                      <td>{{atividade.course}}</td>
                      <td>{{atividade.class_id}}</td>
                      <td>{{atividade.modified_at}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          {% elif user.is_student %}
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          <header style="display: flex;flex-direction: row;justify-content: space-between;">
            <h1 style="margin-left: 2%;" >Locus X - Estudante: {{user.first_name}} {{user.last_name}}</h1>
            <h3 style="text-decoration: none;margin-right: 2%;">
              <a style="color: white;" href="{% url 'logout' %}">Sign out</a>
            </h3>
          </header>
          <!-- The Modal -->
          <div id="id01" style="display: block;" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container" style="display: flex;flex-direction: column;">
                <span style="background-color: rgb(231, 127, 127);" onclick="document.getElementById('id01').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
                  <p>Acesse nosso aplicativo para usar o Locus X</p>
              </div>
            </div>
          </div>          
          {% else %}
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          <header style="display: flex;flex-direction: row;justify-content: space-between;">
            <h1 style="margin-left: 2%;" >Locus X</h1>
            <h3 style="text-decoration: none;margin-right: 2%;">
              <a style="color: white;" href="{% url 'logout' %}">Sign out</a>
            </h3>
          </header>
 
          <!-- The Modal -->
          <div id="id01" style="display: block;" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container" style="display: flex;flex-direction: column;">
                <span style="background-color: rgb(231, 127, 127);" onclick="document.getElementById('id01').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
                <form id="login-form" style="margin-top: 10%;margin-bottom: 5%;display: flex;flex-direction: column;" method="post" >
                  {% csrf_token %}
                  <label style="display: flex;justify-content: center;font-weight: bold;"  class="form-label">
                    Escolhar um tipo de usuário para você:
                  </label>
                  <select name="type_user"  style="margin-top: 3%;margin-bottom: 3%;" id="username-field" class="login-form-field">
                    <option value="is_student">Sou Estudante</option>
                    <option value="is_teacher">Sou Professor(a)</option>
                    <option value="is_institution_adm">Sou Administrador de instituição</option>
                  </select>
                  <input style="background-color: rgb(28, 173, 173);cursor: pointer;" type="submit" value="Criar" id="login-form-submit">
              </form>
              </div>
            </div>
          </div>
          {% endif %}
    </body>
    <script>
      function showlocations(){
        document.getElementById("showContent2").style.display = "none"
        document.getElementById("showContent").style.display = "flex"
      }

      function hiddenLocation(){
        //document.getElementById("showContent").style.display = "none"
      }

      function showAtividade(){
        document.getElementById("showContent").style.display = "none"
        document.getElementById("showContent2").style.display = "flex"
      }

      function hiddenAtividade(){
        //let elem = document.getElementById("showContent2").style.display = "none"
      }

      function HiddenModal(){
        document.getElementById("exampleModalCenter").style.display = "none"
      }

      function ShowModal(){
        alert(document.getElementById("exampleModalCenter").style.display = "block")
        document.getElementById("exampleModalCenter").style.display = "block"
      }

      function hiddenLocation(){
        //document.getElementById("showContent").style.display = "none"
      }
    </script>
</html>