{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Marcelo Augusto dos Reis">

        <title>Locus X</title>

        <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">
        <link rel="Stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
      </head>
    <body>
        {% if user.is_institution_adm %}
        <header>
          <h1>Locus X - Adm(a)</h1>
        </header>
        <div class="container">
          <div class="side">
            <ul>
              <li style="
                background-color: red;
                padding: 7px;
                ">     
                <a href="{% url 'logout' %}" >
                  Logout
                </a>
              </li>
              <li>     
                <a href="{% url 'institution' %}" >
                  institution
                </a>
              </li>
              <li>
                <a href="{% url 'address' %}"  >
                  address
                </a>
              </li>
              <li>
                <a href="{% url 'program' %}"  >
                  program
                </a>
              </li>
              <li>
                <a href="{% url 'class' %}"  >
                  class
                </a>
              </li>
              <li>
                <a href="{% url 'course' %}"  >
                  course
                </a>
              </li>
              <li>
                <a href="{% url 'programTeacher' %}"  >
                  programTeacher
                </a>
              </li>
              <li>
                <a href="{% url 'classTeacher' %}"  >
                  classTeacher
                </a>
              </li>
              <li>
                <a href="{% url 'courseTeacher' %}"  >
                  courseTeacher
                </a>
              </li>
              <li>
                <a href="{% url 'location' %}"  >
                  location
                </a>
              </li>
              <li>
                <a href="{% url 'content' %}"  >
                  content
                </a>
              </li>
              <li>
                <a href="{% url 'question' %}"  >
                  question
                </a>
              </li>
              <li>
                <a href="{% url 'openQuestion' %}"  >
                  openQuestion
                </a>
              </li>
              <li>
                <a href="{% url 'alternative' %}"  >
                  alternative
                </a>
              </li>
              <li>
                <a href="{% url 'multipleChoiceQuestion' %}"  >
                  multipleChoiceQuestion
                </a>
              </li>
              <li>
                <a href="{% url 'task' %}"  >
                  task
                </a>
              </li>
              <li>
                <a href="{% url 'activityTeacher' %}"  >
                  activityTeacher
                </a>
              </li>
              <li>
                <a href="{% url 'activity' %}"  >
                  activity
                </a>
              </li>
              <li>
                <a href="{% url 'activityRealization' %}"  >
                  activityRealization
                </a>
              </li>
              <li>
                <a href="{% url 'activityRealizationTeacher' %}"  >
                  activityRealizationTeacher
                </a>
              </li>
              <li>
                <a href="{% url 'answer' %}"  >
                  answer
                </a>
              </li>
              <li>
                <a href="{% url 'answerTeacher' %}"  >
                  answerTeacher
                </a>
              </li>
              <li>
                <a href="{% url 'answerMultipleChoice' %}"  >
                  answerMultipleChoice
                </a>
              </li>
              <li>
                <a href="{% url 'answerMultipleChoice' %}"  >
                  answerTeacherMultipleChoice
                </a>
              </li>
            </ul>
          </div>
          <div class="frames">
            <iframe src="{% url 'location' %}" title="location">
          </div>
        </div> 
          {% elif user.is_teacher %}
            <header style="display: flex;flex-direction: row;">
              <h1>Locus X - Professor(a): {{user.first_name}} {{user.last_name}}</h1>
            </header>
            <div class="container">
              <div class="side">
                <ul>
                  <li style=" 
                    background-color: rgb(182, 51, 51);
                    padding-top: 7px;
                    font-weight: bold;
                    margin-left: 0;
                    ">     
                    <a href="{% url 'logout' %}" >
                      Logout
                      <i style="margin-left: 20%;" class="fa fa fa-sign-out"></i>
                    </a>
                    </li>
                    <li>     
                      <a href="{% url 'location' %}" >
                        <i style="margin-left: 7px;margin-right: 12px;" class="fa fa fa-map-marker"></i>
                        {% trans 'Localização' %}
                      </a>
                  </li>
                  <li>     
                    <a href="{% url 'classTeacher' %}" >
                      <i style="margin-left: 3px;margin-right: 6px;" class="fa fa 	fa fa-mortar-board"></i>
                      {% trans  'Alunos' %}
                    </a>
                  </li>
                  <li>     
                    <a href="{% url 'courseTeacher' %}"  >
                      <i  style="margin-left: 7px;margin-right: 12px;" class="fa fa fa-bookmark"></i>
                      {% trans 'Disciplinas' %}
                    </a>
                  </li>
                  <li>     
                    <a href="{% url 'content' %}">
                      <i  style="margin-left: 7px;margin-right: 6px;" class="fa fa fa-object-group"></i>
                      {% trans 'Conteúdos' %}
                  </li>
                  <li>     
                    <a href="{% url 'task' %}" >
                      <i  style="margin-left: 7px;margin-right: 6px;" class="fa fa fa-plus-square"></i>
                      {% trans 'Tarefa' %}
                    </a>
                  </li>
                  <li>     
                    <a href="{% url 'activityTeacher' %}" >
                      <i  style="margin-left: 7px;margin-right: 6px;" class="fa fa fa-plus-square"></i>
                      {% trans 'Atividades' %}
                    </a>
                  </li>
                  <li>     
                    <a href="#" >
                      <i  style="margin-left: 7px;margin-right: 6px;" class="fa fa fa-question-circle"></i>
                      {% trans 'Correção' %}
                    </a>
                  </li>
                </ul>
                
              </div>
              <div id="container-content">
                <div class="label">
                  <p class="attribute">Email:</p>
                  <p>{{user.email}} </p>
                </div>
                <div>
                  <ul style="display: flex;flex-direction: row;width: 100%;margin-bottom: 0.2%;">
                      <li onclick="showlocations()" style="display: flex;justify-content: center;">     
                        <p style="  display: flex;
                        font-weight: bold;
                        color: #fff;
                        cursor: pointer;">
                          <i style="margin-right: 12px;" class="fa fa fa-map-marker"></i>
                          Localizações
                        </p>
                    </li>
                    <li onclick="showAtividade()"  style="display: flex;justify-content: center;">     
                      <p style="  display: flex;
                      font-weight: bold;
                      color: #fff;
                      cursor: pointer;" >
                        <i  style="margin-right: 6px;" class="fa fa fa-plus-square"></i>
                        Atividades
                      </p>
                    </li>
                  </ul>
                </div>
                <div id="showContent" onclick="hiddenLocation()">
                    <table style="background-color: rgb(109, 236, 236);">
                      <tr>
                        <th  style="display: flex;justify-content: center;">Nome</th>
                        <th>Descrição</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                      </tr>
                      {% for location in user.locations %}
                      <tr>
                        <td>{{location.name}}</td>
                        <td>{{location.description}}</td>
                        <td>{{location.latitude}}</td>
                        <td>{{location.longitude}}</td>
                      </tr>
                      {% endfor %}
                    </table>
                </div>
                <div id="showContent2" onclick="hiddenAtividade()">
                  <table style="background-color: rgb(109, 236, 236);">
                    <tr>
                      <th  style="display: flex;justify-content: center;">Titulo</th>
                      <th>Disciplina</th>
                      <th>Turma</th>
                      <th>Data</th>
                    </tr>
                    {% for atividade in user.atividades %}
                    <tr>
                      <td>{{atividade.title}}</td>
                      <td>{{atividade.course}}</td>
                      <td>{{atividade.class_id}}</td>
                      <td>{{atividade.modified_at}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          {% elif user.is_student %}
          <header>
            <h1>Locus X - Estudante</h1>
          </header>
          {% else %}
          <p>Outro</p> 
          <a href="{% url 'logout' %}">Sign out</a>
          {% endif %}
    </body>
    <script>
      function showlocations(){
        document.getElementById("showContent2").style.display = "none"
        document.getElementById("showContent").style.display = "flex"
      }

      function hiddenLocation(){
        //document.getElementById("showContent").style.display = "none"
      }

      function showAtividade(){
        document.getElementById("showContent").style.display = "none"
        document.getElementById("showContent2").style.display = "flex"
      }

      function hiddenAtividade(){
        //let elem = document.getElementById("showContent2").style.display = "none"
      }
    </script>
</html>