{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Marcelo Augusto dos Reis">

        <title>Locus X</title>

        <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">
        <link rel="Stylesheet" href="{% static 'css/home.css' %}">

    </head>
    <body>
        {% if user.is_institution_adm %}
        <header>
          <h1>Locus X - Adm(a)</h1>
        </header>
        <div class="container">
          <div class="side">
            <ul>
              <li style="
                background-color: red;
                padding: 7px;
                ">     
                <a href="{% url 'logout' %}" >
                  Logout
                </a>
              </li>
              <li>     
                <a href="{% url 'institution' %}" >
                  institution
                </a>
              </li>
              <li>
                <a href="{% url 'address' %}"  >
                  address
                </a>
              </li>
              <li>
                <a href="{% url 'program' %}"  >
                  program
                </a>
              </li>
              <li>
                <a href="{% url 'class' %}"  >
                  class
                </a>
              </li>
              <li>
                <a href="{% url 'course' %}"  >
                  course
                </a>
              </li>
              <li>
                <a href="{% url 'programTeacher' %}"  >
                  programTeacher
                </a>
              </li>
              <li>
                <a href="{% url 'classTeacher' %}"  >
                  classTeacher
                </a>
              </li>
              <li>
                <a href="{% url 'courseTeacher' %}"  >
                  courseTeacher
                </a>
              </li>
              <li>
                <a href="{% url 'location' %}"  >
                  location
                </a>
              </li>
              <li>
                <a href="{% url 'content' %}"  >
                  content
                </a>
              </li>
              <li>
                <a href="{% url 'question' %}"  >
                  question
                </a>
              </li>
              <li>
                <a href="{% url 'openQuestion' %}"  >
                  openQuestion
                </a>
              </li>
              <li>
                <a href="{% url 'alternative' %}"  >
                  alternative
                </a>
              </li>
              <li>
                <a href="{% url 'multipleChoiceQuestion' %}"  >
                  multipleChoiceQuestion
                </a>
              </li>
              <li>
                <a href="{% url 'task' %}"  >
                  task
                </a>
              </li>
              <li>
                <a href="{% url 'activityTeacher' %}"  >
                  activityTeacher
                </a>
              </li>
              <li>
                <a href="{% url 'activity' %}"  >
                  activity
                </a>
              </li>
              <li>
                <a href="{% url 'activityRealization' %}"  >
                  activityRealization
                </a>
              </li>
              <li>
                <a href="{% url 'activityRealizationTeacher' %}"  >
                  activityRealizationTeacher
                </a>
              </li>
              <li>
                <a href="{% url 'answer' %}"  >
                  answer
                </a>
              </li>
              <li>
                <a href="{% url 'answerTeacher' %}"  >
                  answerTeacher
                </a>
              </li>
              <li>
                <a href="{% url 'answerMultipleChoice' %}"  >
                  answerMultipleChoice
                </a>
              </li>
              <li>
                <a href="{% url 'answerMultipleChoice' %}"  >
                  answerTeacherMultipleChoice
                </a>
              </li>
            </ul>
          </div>
          <div class="frames">
            <iframe src="{% url 'location' %}" title="location">
          </div>
        </div> 
          {% elif user.is_teacher %}
            <header>
              <h1>Locus X - Professor(a)</h1>
            </header>
            <div class="container">
              <div class="side">
                <ul>
                  <li style="
                    background-color: red;
                    padding: 7px;
                    ">     
                    <a href="{% url 'logout' %}" >
                      Logout
                    </a>
                  </li>
                  <li>     
                    <a href="{% url 'institution' %}" >
                      institution
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'address' %}"  >
                      address
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'program' %}"  >
                      program
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'class' %}"  >
                      class
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'course' %}"  >
                      course
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'programTeacher' %}"  >
                      programTeacher
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'classTeacher' %}"  >
                      classTeacher
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'courseTeacher' %}"  >
                      courseTeacher
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'location' %}"  >
                      location
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'content' %}"  >
                      content
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'question' %}"  >
                      question
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'openQuestion' %}"  >
                      openQuestion
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'alternative' %}"  >
                      alternative
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'multipleChoiceQuestion' %}"  >
                      multipleChoiceQuestion
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'task' %}"  >
                      task
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'activityTeacher' %}"  >
                      activityTeacher
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'activity' %}"  >
                      activity
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'activityRealization' %}"  >
                      activityRealization
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'activityRealizationTeacher' %}"  >
                      activityRealizationTeacher
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'answer' %}"  >
                      answer
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'answerTeacher' %}"  >
                      answerTeacher
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'answerMultipleChoice' %}"  >
                      answerMultipleChoice
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'answerMultipleChoice' %}"  >
                      answerTeacherMultipleChoice
                    </a>
                  </li>
                </ul>
              </div>
              <div class="frames">
                <iframe src="{% url 'location' %}" title="location">
              </div>
            </div>
          {% elif user.is_student %}
          <header>
            <h1>Locus X - Estudante</h1>
          </header>
          <div class="container">
            <div class="side">
              <ul>
                <li style="
                  background-color: red;
                  padding: 7px;
                  ">     
                  <a href="{% url 'logout' %}" >
                    Logout
                  </a>
                </li>
                <li>     
                  <a href="{% url 'institution' %}" >
                    institution
                  </a>
                </li>
                <li>
                  <a href="{% url 'address' %}"  >
                    address
                  </a>
                </li>
                <li>
                  <a href="{% url 'program' %}"  >
                    program
                  </a>
                </li>
                <li>
                  <a href="{% url 'class' %}"  >
                    class
                  </a>
                </li>
                <li>
                  <a href="{% url 'course' %}"  >
                    course
                  </a>
                </li>
                <li>
                  <a href="{% url 'programTeacher' %}"  >
                    programTeacher
                  </a>
                </li>
                <li>
                  <a href="{% url 'classTeacher' %}"  >
                    classTeacher
                  </a>
                </li>
                <li>
                  <a href="{% url 'courseTeacher' %}"  >
                    courseTeacher
                  </a>
                </li>
                <li>
                  <a href="{% url 'location' %}"  >
                    location
                  </a>
                </li>
                <li>
                  <a href="{% url 'content' %}"  >
                    content
                  </a>
                </li>
                <li>
                  <a href="{% url 'question' %}"  >
                    question
                  </a>
                </li>
                <li>
                  <a href="{% url 'openQuestion' %}"  >
                    openQuestion
                  </a>
                </li>
                <li>
                  <a href="{% url 'alternative' %}"  >
                    alternative
                  </a>
                </li>
                <li>
                  <a href="{% url 'multipleChoiceQuestion' %}"  >
                    multipleChoiceQuestion
                  </a>
                </li>
                <li>
                  <a href="{% url 'task' %}"  >
                    task
                  </a>
                </li>
                <li>
                  <a href="{% url 'activityTeacher' %}"  >
                    activityTeacher
                  </a>
                </li>
                <li>
                  <a href="{% url 'activity' %}"  >
                    activity
                  </a>
                </li>
                <li>
                  <a href="{% url 'activityRealization' %}"  >
                    activityRealization
                  </a>
                </li>
                <li>
                  <a href="{% url 'activityRealizationTeacher' %}"  >
                    activityRealizationTeacher
                  </a>
                </li>
                <li>
                  <a href="{% url 'answer' %}"  >
                    answer
                  </a>
                </li>
                <li>
                  <a href="{% url 'answerTeacher' %}"  >
                    answerTeacher
                  </a>
                </li>
                <li>
                  <a href="{% url 'answerMultipleChoice' %}"  >
                    answerMultipleChoice
                  </a>
                </li>
                <li>
                  <a href="{% url 'answerMultipleChoice' %}"  >
                    answerTeacherMultipleChoice
                  </a>
                </li>
              </ul>
            </div> 

          {% else %}
          <p>Outro</p> 
          <a href="{% url 'logout' %}">Sign out</a>
          {% endif %}
    </body>
</html>