{% load static %}
{% load socialaccount %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Marcelo Augusto dos Reis">

        <title>Locus X</title>

        <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <!--Styles-->
        <link href="{% static 'css/singup.css' %}" rel="stylesheet">

        <!--Scripts-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            <header>
                <h1 id="title">Locus X &#127758;</h1>
                <h2>Novo Usuário</h2>
            </header>
            <main id="main-holder">
                <a style="color: #fff;" href="{% provider_login_url 'google' %}" class="btn btn-block btn-social btn-twitter">
                    <h3>
                        <span class="btn-social-icon fa fa-google"></span> Criar conta com o Google                        
                    </h3>
                </a>
                <form id="login-form" method="post" >
                    {% csrf_token %}
                    <input type="text" name="email" id="username-field" class="login-form-field" placeholder="Email">
                    <input type="text" name="first_name" id="username-field" class="login-form-field" placeholder="Primeiro Nome">
                    <input type="text" name="last_name" id="username-field" class="login-form-field" placeholder="Sobrenome">
                    <select name="type_user" id="username-field" class="login-form-field">
                      <option value="is_student">Estudante</option>
                      <option value="is_teacher">Professor(a)</option>
                      <option value="is_institution_adm">Administrador de instituição</option>
                    </select>
                    <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Senha">
                    <input type="submit" value="Criar" id="login-form-submit">
                </form>
            </main>
            <a id="link" href="{% url 'index' %}"><h5 style=" cursor: pointer; text-decoration: none;color:rgb(18, 18, 100) ;">Menu inicial</h5></a>
        </div>
    </body>
</html>