#dataTable_wrapper .row {
    margin-bottom: 0.6em !important;
}

.btn-circle {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.btn-edit .fas {
    margin-left: 2px !important;
}

.link-without-decoration {
    text-decoration: none;
    color: #858796;
}

.link-without-decoration:hover {
    text-decoration: none !important;
    color: #224abe;
}